repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: mix-format
        name: mix format
        entry: bash -c "cd edoc_api && mix format"
        language: system
        pass_filenames: false
        stages: [pre-commit]
      - id: mix-test
        name: mix test
        entry: bash -c "cd edoc_api && mix test"
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
